a2a-sdk==0.2.*
google-adk==1.2.*
streamlit
tabulate
platformdirs
Flask
gunicorn
scikit-learn
google-genai==1.16.*
pillow
pandas
google-cloud-aiplatform[adk]==1.96.*
google-cloud-bigquery[pandas]
google-cloud-bigquery-storage
google-cloud-firestore==2.20.*
altair==5.5.*
vl-convert-python
python-dotenv
cloudpickle==3.1.1
pydantic==2.11.4
yfinance
matplotlib
